@import "tailwindcss";

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
@import url("https://uilight.netlify.app/main.css");
@import url('./styles/utility.css');



